@{
    ViewData["Title"] = "App info";
}

<div class="text-center mt-5">
    <h1 class="display-4">App info</h1>
    <p>This app was created to track your daily routine by adding tasks and removing them when completed</p>
</div>
