@model ListModel
@{
    ViewData["Title"] = "Edit task";
}
<form method="post" asp-action="Edit">
    <div class="p-3">
        <div class="pt-2">
            <h2>Edit task</h2>
        </div>
        <div class="pt-2">
            <div class="mb-2">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger pt-1"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
            </div>        
        </div>
        <div class="row p-3">
            <button type="submit" class="btn btn-primary" style="width: 10%">Edit</button>
            <a class="btn btn-primary" style="width: 10%" asp-controller="List" asp-action="Index">Back</a>
        </div>
            

        
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
